* {
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 30px;
  background-color: #333;
}
li {
  display: inline;
  margin-right: 50px;
}
a, h1,h2, th, td, h3,input, p{
  font-family: 'Montserrat';
  
}
label{
  font-family: 'Montserrat';
  color: #000;;
}
.email{
  font-family: 'Montserrat';
}
.password{
  font-family: 'Montserrat';
}
.form-center {
	display:flex;
	justify-content: center;
}
h1{
  font-size: 50px;
}
div.fixed{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #73AD21;
}
.top-intro-header{
  margin-bottom: 100px;
  padding-top: 250px;
  padding-bottom: 250px;
  color: #ffffff;
}
.main-container-header{
  margin-top: 100px;
  margin-bottom:100px;
}
a{
  text-decoration: none;
  color: #ffffff;
  font-size: 150%;
}
.add-button{
  color: #333333;
  position: sticky;
  left: 1555px;
  border-style: solid;
  padding: 10px;
}
.edit-button{
  color: #333333;
  border-style: solid;
  padding: 10px;
}
.save-button{
  color:#333333;
  border-style: solid;
  padding: 10px;
}
.submit-button{
  color:#333333;
  border-style: solid;
  padding: 10px;
}
.delete-button{
  color: #c00000;
  border-style: solid;
  padding: 10px;
}
table{
  width: 80%;
  height: 60%;
  margin: 20px auto 60px;
  text-align: center;
  border-collapse: collapse;
}
th{
  background-color: #333333;
  color:#eee;
}
td{
  width:1%;
}
tr{
  transition: all .2s ease-in-out;
}
thead{
  
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .1);
}
tbody tr:nth-child(n):hover {
  background-color:#ddd;
  transform: scale(1.02);
}
.selected-row{
  background-color:rgb(230, 230, 230);
  transform:scale(1.02);
}
.table-row-link{
  font-size: inherit;
  color:inherit;
}
footer{
  background-color: #333;
  margin-bottom:-30px;
}
.overlay{
  height: 600px;
  background-color: rgba(0, 0, 0, 0.5);
}