* {
    box-sizing: border-box;
  }
  body{
    margin: 0;
    padding: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 30px;
    background-color: #000000;
  }
  
  li {
    display: inline;
    margin-right: 50px;
  }